.autocomplete
  position relative

  .results
    position absolute
    left 0
    top 32px
    background #fff
    width 350px
    border 1px solid #ccc
    list-style none
    padding 0
    height 300px
    overflow-y auto

    li
      padding 6px

      &:hover
        cursor pointer
        background #fefefe

